.Heading{
    font-family: "Arial", sans-serif;
    font-style: normal;

    &.centered{
        text-align: center;
    }

    &.noUserSelection{
        -webkit-user-select: none; /* Safari, older Chrome/Opera */
        -moz-user-select: none;    /* Firefox */
        -ms-user-select: none;     /* Internet Explorer/Edge */
        user-select: none; 
    }

    &.uppercase{
        text-transform: uppercase;
    }

    &.capitalize{
        text-transform: capitalize;
    }

    &.xs{
        font-size: 18px;
    }

    &.s{
        font-size: 22px;
    }

    &.m{
        font-size: 26px;
    }

    &.l{
        font-size: 32px;
    }

    &.xl{
        font-size: 40px;
    }

    &.w100{
        font-weight: 100;
    }

    &.w200{
        font-weight: 200;
    }

    &.w300{
        font-weight: 300;
    }

    &.w400{
        font-weight: 400;
    }

    &.w500{
        font-weight: 500;
    }

    &.w600{
        font-weight: 600;
    }

    &.w700{
        font-weight: 700;
    }

    &.w800{
        font-weight: 800;
    }

    &.w900{
        font-weight: 900;
    }
}