:root{
    --primary:#4D9AFF;
    --neutral0:#000;
    --neutral100:#FFFFFF;
    --neutral150:#ebebeb;
    --neutral450:#2c2c2c;
    --neutral500:#161616;

    --background:var(--neutral100);
    --body:var(--neutral450)
    --heading:var(--neutral500)
}