:root{
    --primary:#4D9AFF;
    --secondary:#4b88d8;
    --neutral0:#000;
    --neutral100:#FFFFFF;
    --neutral150:#ebebeb;
    --neutral200:#d8d8d8;
    --neutral300:#acabab;
    --neutral400:#636363;
    --neutral450:#2c2c2c;
    --neutral500:#161616;

    --background:var(--neutral100);
    --body:var(--neutral450);
    --heading:var(--neutral500);
    --borders:var(--neutral300);
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}